html,body {
    margin: 0;
}

body {
    width: 100%;
}

.yt-latest {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin: 0 auto;

    max-width: 1024px;
    width: 100%;

}

.yt-thumbnail {
    display: block;

    img {
        display: block;
    }

    h2,p {
        display: block;
    }
}